header
  width: 100%
  height: $headerHeight
  overflow: hidden

  #titleContainer
    position: absolute
    float: left
    width: auto
    top: 5rem
    left: 20%

    div
      position: relative
      background-color: transparentize($orange_1, 0.2)
      font: normal 7rem $defFontStyle, sans-serif
      color: $borderLight
      padding: 0.5em 1em
      border: 0.1em solid $borderLight
      z-index: 1
      cursor: pointer

    //.hovered
    &:hover .content
      background-color: transparentize($orange_1, 0.1)

    #headerTitle-1
      margin-right: 2em

    #headerTitle-2
      margin-top: -0.1em
      margin-left: 2em

  img
    margin-top: -60px
    width: 100%
    height: auto
    opacity: 0.2
