#topMenu
  position: relative
  width: 100%

  #itemsBlock
    position: absolute
    bottom: 0px
    width: 100%
    margin: 0 auto
    background-color: rgba(0, 0, 0, 0)

    ul
      text-align: center

      li
        display: inline-block
        border: solid 1px $orange-1
        border-top: 0px
        border-bottom: 0px
        margin-left: -1px
        padding: 5px 20px
        color: $orange_1_TR
        background-color: transparentize($dark_2, 0.5)
