@import "reset"

body
  background-color: #21252B

  .mainContainer
    nav
      margin-top: 100px
      float: right
      width: 160px
      text-transform: uppercase

      ul
        margin: 5px 0px
        li
          background-color: #443f34
          color: orange
          border-radius: 5px
          margin: 5px 5px
          padding: 0px 0px 0px 20px
          font: 400 16px/3 "UBUNTU", sans-serif
          -webkit-transition: visibility 0.2s ease
          &.hovered
            background-color: #cc7e14
            color: #ffc600
            margin: -5px 5px -5px -5px
            padding: 5px 5px 5px 25px
