@import compass/css3
@import reset
@import font-awesome-4.5.0/font-awesome
@import "http://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=Latin"


@import variables
@import colors

\:root
  font: normal 10px $defFontStyle, sans-serif
  color: $textNormal
  cursor: default

html

  a
    &:link, &:active, &:visited, &:hover
      text-decoration: none
      color: inherit

  body
    width: 100%
    min-height: 100%
    font-size: 1rem

    #page
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: $dark_1

      #middle
        width: 80%
        min-height: calc(100vh - #{$minContentHeight})
        margin: 0px auto

        #mainContent
          margin: auto
          padding: 20px 5%
          background-color: $dark_2
          font-size: 1.6rem
          line-height: 1.5

          h1
            text-align: center
            font-size: 3rem
            font-weight: 700
            padding: 15px 0px
            +transparent()

          .animate
            font-size: 6rem
            +opaque()
            +transition(all 1000ms ease-out)

          p
            font-size: 1.8rem
            font-weight: 300

            .imp
              display: inline-block
              font-size: 1.9rem
              font-weight: 400

            b
              font-weight: 400

@import header
@import topMenu
@import side
@import footer
