@import compass/css3
@import reset
@import font-awesome-4.5.0/font-awesome
@import "http://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=Latin"


@import variables
@import colors
@import menu
@import header
@import side
@import footer

*
  //min-height: 10px
  +transition(all, 300ms, ease-in-out, 0ms)

\:root
  font: normal 10px $defFontStyle, sans-serif
  color: $textNormal
  cursor: default

html

  body
    width: 100%
    min-height: 100%
    font-size: 1.6rem

    #page
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: $dark_1

      #middle
        width: 80%
        min-height: calc(100vh - #{$minContentHeight})
        margin: 0px auto

        #mainContent
          float: left
          width: 70%
          padding: 20px
          background-color: $dark_2
          line-height: 1.5

          h1
            font-size: 6rem
            font-weight: 700
            padding: 15px 0px

          p
            font-size: 1.8rem
            font-weight: 300

            .imp
              display: inline-block
              font-size: 1.9rem
              font-weight: 400

            b
              font-weight: 400
