footer.container
  span(class="fa fa-music fa-3x")
  span(class="fa fa-facebook-official fa-3x")
  span(class="fa fa-twitter fa-3x")
  span(class="fa fa-youtube fa-3x")
  span(class="fa fa-soundcloud fa-3x")
