header
  #titleContainer.container
    a(href="index.html")
      #headerTitle-1.content
        h1= title_1
      #headerTitle-2.content
        h1= title_2
    #subtitle.content
      h2= subtitle
  img(src="img/BgGuitarFlip-large_x2.jpg", alt="Guitar", class="image")
