header
  #titleContainer.container
    a(href="index.html")
      #headerTitle-1.content= title_1
      #headerTitle-2.content= title_2
  img(src="img/BgGuitarFlip-large_x2.jpg", alt="Guitar", class="image")
