#sideContainer.container
  a(href="news.html")
    .sideEl.content
      u News
  
  a(href= "docenti.html")
    .sideEl.content
      u Docenti
  
  a(href="didattica.html")
    .sideEl.content
      u Didattica
  
  a(href="eventi.html")
    .sideEl.content
      u Eventi
    
  a(href="galleria.html")
    .sideEl.content
      u Galleria
  
  a(href="contatti.html")
    .sideEl.content
      u Contatti
