#topMenu.container
  .menuBase.container
    .title NEWS
      .titleBorder
    ul
      a(href="didattica.html")
        li Corsi
      a(href="eventi.html")
        li Eventi
      a(href="docenti.html")
        li Docenti
  
  .menuBase.container
    .title DIDATTICA
      .titleBorder
    ul
      a(href="didattica.html")
        li Iscrizioni
      a(href="didattica.html")
        li Il nostro metodo
      a(href="didattica.html")
        li Docenti
      a(href="didattica.html")
        li Corsi e lezioni
  
  .menuBase.container
    .title EVENTI
      .titleBorder
    ul
      a(href="eventi.html")
        li A breve
      a(href="eventi.html")
        li Recenti
      a(href="eventi.html")
        li Archivio
      
  .menuBase.container
    .title GALLERIA
      .titleBorder
    ul
      a(href="galleria.html")
        li Album
      a(href="galleria.html")
        li Foto
      a(href="galleria.html")
        li Video
  
  .menuBase.container.empty
    a(href="contatti.html")
      .title CONTATTI
        .titleBorder
