doctype html
html
  include include/variables.jade
  include include/common.jade
  include include/head.jade
    
  body
    #mainMenu.container
      #barsIcon(class="fa fa-bars fa-3x")
      div MENU

    #page.container
      include include/mainHeader.jade
      
      
      #middle.container
        #mainContent.content
          include include/cntPage_1.html
        //include include/side_1.jade
          
      include include/footer.jade
    
    script(src="js/script.js", charset="utf-8")
    script(src="//localhost:35729/livereload.js")
