doctype html
html
  include include/variables.jade
  include include/common.jade
  include include/head.jade
    
  body
    #page.container
      include include/mainHeader.jade
      
      include include/topMenu.jade
      
      #middle.container
        #mainContent.content
          include include/cntPage_news.html
          
      include include/footer.jade
    
    script(src="js/script.js", charset="utf-8")
    script(src="//localhost:35729/livereload.js")
